{% extends 'base.html' %}

<!-- {% block title%}About page{% endblock %} -->

{% block content %}
{% load static %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="{% static "img/breadcrumb-bg.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Новости</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-1.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png"  %}" alt=""> 16 октября</span>
                            <h5>Теперь у нас можно выпить кофе</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-2.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png"  %}" alt=""> 21 октября</span>
                            <h5>Лучшие стрижки сезона</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-3.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png"  %}" alt=""> 28 сентября</span>
                            <h5>Как одеться в поход</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-4.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png"  %}" alt=""> 16 сентября</span>
                            <h5>Коллекция [БАЗА]</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-5.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png" %}" alt=""> 21 августа</span>
                            <h5>Мастер-класс по вязанию</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-6.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png" %}" alt=""> 28 августа</span>
                            <h5>Переезд. Новая локация.</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/seller.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png" %}" alt=""> 20 ноября</span>
                            <h5>Хэппи бездей ту ас! Нам 4 года.</h5>
                            <a href="../stats">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-8.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src=" {% static "/img/icon/calendar.png"  %}" alt=""> 21 августа</span>
                            <h5>Мастер-класс тай-дай</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="{% static "img/blog/blog-9.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src="{% static "/img/icon/calendar.png" %}" alt=""> 28 июня</span>
                            <h5>Переоткрытие</h5>
                            <a href="../blog-details">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    {% endblock %}