<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pretty otter - онлайн сешка</title>
	<link rel="icon" type="image/x-icon" href="../riddles/img/logo.ico" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../riddles/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../riddles/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../riddles/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../riddles/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../riddles/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../riddles/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../riddles/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../riddles/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Вход</a>
                <a href="#">Регистрация</a>
            </div>
            
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="../riddles/img/icon/search.png" alt=""></a>
            <a href="#"><img src="../riddles/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="../riddles/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">0.00₽</div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Вход</a>
                                <a href="#">Регистрация</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="../riddles/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Главная</a></li>
                            <li><a href="./shop.html">Каталог</a></li>
                            <li class="active"><a href="./blog.html">Наши новости</a></li>
                            <li><a href="./contact.html">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="../riddles/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="../riddles/img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="../riddles/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">0.00₽</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Blog Details Hero Begin -->
    <section class="blog-hero spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="blog__hero__text">
                        <h2>Как одеться в поход</h2>
                        <ul>
                            <li>От редакции</li>
                            <li>21 февраля 2020</li>
                            <li>8 февраля</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="../riddles/img/blog/details/konduki1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <span>Поделиться</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                            </ul>
                        </div>
                        <div class="blog__details__text">
                            <p style="text-indent: 20px" align="justify">Правильно одеться в поход намного важнее, чем в условиях цивилизации. 
                                Промокнув в городе, вы сядете в автобус до дома, забежите в кафе или 
                                ближайший торговый центр, где быстро согреетесь и обсохнете. А в дикой 
                                природе останетесь один на один с холодом, дождём и леденящим ветром.
                                Поэтому в любой сезон обязательно продумайте список походной одежды: 
                                от куртки до носков. Мы уже рассказывали, как выбрать треккинговую обувь, 
                                а здесь поговорим именно про одежду.</p>
                                <br><h3>Лето</h3>
                            <p style="text-indent: 20px" align="justify">Лето – синоним слова «поход». Яркое солнце, зелёные леса, каменные 
                                горные пики – новые места и нехоженые тропы так и зовут отправиться 
                                в путь. Поэтому разбираемся, как одеться в активное путешествие, чтобы 
                                оно принесло только кайф.</p>
                        </div>
                        <!-- <div class="blog__details__quote">
                            <i class="fa fa-quote-left"></i>
                            <p>“When designing an advertisement for a particular product many things should be
                                researched like where it should be displayed.”</p>
                            <h6>_ John Smith _</h6>
                        </div> -->
                        <div class="blog__details__text">
                            <p style="text-indent: 20px" align="justify" >Одежда - на тело. Оптимальный выбор для летнего похода – футболка. 
                                В ней не будет жарко, а лямки рюкзака не натрут плечи. 
                                Производители одежды для походов шьют футболки из технологичных 
                                материалов, отводящих лишнюю влагу и обеспечивающих отличную вентиляцию. 
                                В крупных магазинах спортивной одежды вы найдёте массу недорогих и 
                                качественных вариантов.</p>
                                <p style="text-indent: 20px" align="justify">Обязательный элемент одежды – ветровка или штормовка. Это лёгкие 
                                непромокаемые и непродуваемые куртки, которые спасают от несильного 
                                дождя и других капризов погоды. 
                                
                                Чтобы не замёрзнуть во время вечерних посиделок у костра, захватите 
                                тёплую кофту или толстовку.
                                
                                - на ноги. Походные штаны выбираем из плотной и прочной ткани. 
                                Подойдут штаны любой длины из лёгких и технологичных материалов, 
                                которые обеспечат влагоотвод. В жаркую погоду хочется надеть шорты, 
                                это допустимо, но помните, что оголённая кожа – лакомый кусочек для 
                                насекомых, крапивы, осоки и колючих кустарников. На случай дождя 
                                прихватите с собой тонкие штаны из мембраны.</p>
                                <p style="text-indent: 20px" align="justify">Главное правило – носков должно достаточно. 
                                Не ограничивайтесь одной парой, они тонкие, лёгкие и мало весят. 
                                А вот если единственные носки промокнут – испорченное настроение и 
                                натёртые ноги обеспечены. Если хотите повысить уровень комфорта, 
                                купите специальные носки для треккинга – они дополнительно поддерживают 
                                стопу, отводят влагу и препятствуют натиранию мозолей.

                                Какое взять нижнее бельё – выбирайте исключительно исходя из собственных
                                предпочтений.</p>
                                <p style="text-indent: 20px" align="justify">
                                Не идите в длительный поход в джинсах и джинсовой куртке. Их вес в 
                                рюкзаке вас не порадует, а однажды намокнув, вещи из плотной джинсы 
                                вряд ли быстро высохнут.
                                
                                У туристов популярны военные костюмы «горка», которые полностью 
                                закрывают тело. Правда, они достаточно много весят и не дышат. К 
                                тому же, советуем не одеваться в одежду камуфляжных цветов, потому 
                                что это затруднит поиск, если вы отстанете от группы или потеряетесь.
                                
                                Даже южные летние ночи зачастую бывают холодными. Но оставьте дома 
                                любимую плюшевую пижаму – для похода она не подойдёт. Вместо неё возьмите
                                комплект термобелья. 
                                
                                Обязательно захватите с собой сменную футболку, штаны, несколько пар 
                                носков и нижнего белья, эти необходимые дополнительные вещи не займут 
                                много места в рюкзаке.</p>
                        </div>
                        <div class="blog__details__option">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__author">
                                        <div class="blog__details__author__pic">
                                            <img src="../riddles/img/blog/details/blog-author.jpg" alt="">
                                        </div>
                                        <div class="blog__details__author__text">
                                            <h5>Анна Елисеенко</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__tags">
                                        <a href="#">#Поход</a>
                                        <a href="#">#Лето</a>
                                        <a href="#">#2022</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="" class="blog__details__btns__item">
                                        <p><span class="arrow_left"></span> Предыдущая статья</p>
                                        <h5>Теперь у нас можно выпить кофе</h5>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="" class="blog__details__btns__item blog__details__btns__item--next">
                                        <p>Следущая статья <span class="arrow_right"></span></p>
                                        <h5>Мастер-класс тай-дай</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__comment">
                            <h4>Прокомментировать</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Имя">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Почта">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Телефон">
                                    </div>
                                    <div class="col-lg-12 text-center">
                                        <textarea placeholder="Комментарий"></textarea>
                                        <button type="submit" class="site-btn">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="../riddles/img/white-logo.png" alt=""></a>
                        </div>
                        <p>Все для покупателя.</p>
                        <a href="#"><img src="../riddles/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Покупки</h6>
                        <ul>
                            <li><a href="#">Одежда</a></li>
                            <li><a href="#">Обувь</a></li>
                            <li><a href="#">Аксессуары</a></li>
                            <li><a href="#">Распродажа</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>О нас</h6>
                        <ul>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Методы оплаты</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Политика возврата</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Рассылка</h6>
                        <div class="footer__newslatter">
                            <p>Подпишитесь на рассылку чтобы узнавать об акциях первыми!</p>
                            <form action="#">
                                <input type="text" placeholder="Ваша почта">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>Copyright ©
                            <script>
                            </script>2022 Морозова Василиса
                            
                        </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>