<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pretty otter - онлайн сешка</title>
	<link rel="icon" type="image/x-icon" href="{% static "img/logo.ico"%}" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css "%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css "%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/elegant-icons.css "%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css "%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/nice-select.css "%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css "%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css "%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css "%}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Вход</a>
                <a href="#">Регистрация</a>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src=" {% static "img/icon/search.png" %}" alt=""></a>
            <a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a>
            <a href="#"><img src=" {% static "img/icon/cart.png" %}" alt=""> <span>0</span></a>
            <div class="price">0.00₽</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Вход</a>
                                <a href="#">Регистрация</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src=" {% static "img/logo.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index">Главная</a></li>
                            <li><a href="./shop">Каталог</a></li>
                            <li><a href="./blog">Наши новости</a></li>
                            <li><a href="./contact">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src=" {% static "img/icon/search.png" %}" alt=""></a>
                        <a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a>
                        <a href="#"><img src=" {% static "img/icon/cart.png" %}" alt=""> <span>0</span></a>
                        <div class="price">0.00₽</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg=" {% static "img/hero/hero-1.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Селекция</h6>
                                <h2>Зимняя коллекция 2022 - 2023</h2>
                                <p>Специально для вас мы отобрали лучшее.</p>
                                <a href="./shop" class="primary-btn">К покупкам<span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-telegram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg=" {% static "img/hero/hero-2.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Селекция</h6>
                                <h2>Сток осень 2022</h2>
                                <p>Большие скидки к концу сезона</p>
                                <a href="./shop" class="primary-btn">К покупкам<span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-telegram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div><p class="promo-text-name">Виртуальный стилист</p>
                <p class="promo-text">Мы запустили новую функцию: теперь вы можете заполнить короткий опросник и
                 ИИ предложит вам образы, исходя из ваших ответов.</p>
                 <img src=" {% static "img/other/robot.jpg" %}" alt="robot" class="promo">
                 <a href="./questionaire" class="qu-btn">Начать</a>
        
        </div>
        </div>
        </div>
    </div>
           
    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src=" {% static "img/banner/banner-1.jpg" %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Одежда</h2>
                            <a href="./shop">К покупкам</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src=" {% static "img/banner/banner-2.jpg" %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Аксессуары</h2>
                            <a href="./shop">К покупкам</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src=" {% static "img/banner/banner-3.jpg" %}" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Обувь</h2>
                            <a href="./shop">К покупкам</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
{% load static %}

    <!-- Product Section Begin -->
    <section class="product spad">

        <div class="container">
            <link rel="stylesheet " type="text/css" href="{% static 'main.css' %}" />
            <h1>Опросы</h1>
            {% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
                    <li><a style="color:#0b0b0b" href="/riddles/{{ question.id }}/">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Бестселлеры</li>
                        <li data-filter=".new-arrivals">Новое поступление</li>
                        <li data-filter=".hot-sales">Популярное</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-1.jpg" %}">
                            <span class="label">Новинки</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Кроссовки</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>1 200₽</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-2.jpg" %}">
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Рубашка</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>1 200₽</h5>
                            <div class="product__color__select">
                                <label for="pc-4">
                                    <input type="radio" id="pc-4">
                                </label>
                                <label class="active black" for="pc-5">
                                    <input type="radio" id="pc-5">
                                </label>
                                <label class="grey" for="pc-6">
                                    <input type="radio" id="pc-6">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-3.jpg" %}">
                            <span class="label">Распродажа</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Кеды</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>1 000₽</h5>
                            <div class="product__color__select">
                                <label for="pc-7">
                                    <input type="radio" id="pc-7">
                                </label>
                                <label class="active black" for="pc-8">
                                    <input type="radio" id="pc-8">
                                </label>
                                <label class="grey" for="pc-9">
                                    <input type="radio" id="pc-9">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-4.jpg" %}">
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Худи</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>1 200₽</h5>
                            <div class="product__color__select">
                                <label for="pc-10">
                                    <input type="radio" id="pc-10">
                                </label>
                                <label class="active black" for="pc-11">
                                    <input type="radio" id="pc-11">
                                </label>
                                <label class="grey" for="pc-12">
                                    <input type="radio" id="pc-12">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-5.jpg" %}">
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Кастомная рубашка</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>600 ₽</h5>
                            <div class="product__color__select">
                                <label for="pc-13">
                                    <input type="radio" id="pc-13">
                                </label>
                                <label class="active black" for="pc-14">
                                    <input type="radio" id="pc-14">
                                </label>
                                <label class="grey" for="pc-15">
                                    <input type="radio" id="pc-15">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-6.jpg" %}">
                            <span class="label">Распродажа</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Шарф</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>700 ₽</h5>
                            <div class="product__color__select">
                                <label for="pc-16">
                                    <input type="radio" id="pc-16">
                                </label>
                                <label class="active black" for="pc-17">
                                    <input type="radio" id="pc-17">
                                </label>
                                <label class="grey" for="pc-18">
                                    <input type="radio" id="pc-18">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-7.jpg" %}">
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Кожаный рюкзак</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>3 000 ₽</h5>
                            <div class="product__color__select">
                                <label for="pc-19">
                                    <input type="radio" id="pc-19">
                                </label>
                                <label class="active black" for="pc-20">
                                    <input type="radio" id="pc-20">
                                </label>
                                <label class="grey" for="pc-21">
                                    <input type="radio" id="pc-21">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg=" {% static "img/product/product-8.jpg" %}">
                            <ul class="product__hover">
                                <li><a href="#"><img src=" {% static "img/icon/heart.png" %}" alt=""></a></li>
                                <li><a href="#"><img src=" {% static "img/icon/compare.png" %}" alt=""> <span>Сравнить</span></a></li>
                                <li><a href="./shop-details"><img src=" {% static "img/icon/search.png" %}" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Рубашка-поло</h6>
                            <a href="#" class="add-cart">Добавить в корзину</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>500 ₽</h5>
                            <div class="product__color__select">
                                <label for="pc-22">
                                    <input type="radio" id="pc-22">
                                </label>
                                <label class="active black" for="pc-23">
                                    <input type="radio" id="pc-23">
                                </label>
                                <label class="grey" for="pc-24">
                                    <input type="radio" id="pc-24">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->


    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg=" {% static "img/place/place_1.jpg" %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg=" {% static "img/place/place_2.jpg" %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg=" {% static "img/place/place_3.jpg" %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg=" {% static "img/place/place_4.jpg" %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg=" {% static "img/place/place_5.jpg" %}"></div>
                        <div class="instagram__pic__item set-bg" data-setbg=" {% static "img/place/place_6.jpg" %}"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Москва, ул. Якиманка, 6</h2>
                        <p> Не только секонд-хенд, но и коворкинг</p>
                        <h3>#Образование</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Последние новости</span>
                        <h2>Тренды</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg=" {% static "img/blog/blog-1.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src=" {% static "img/icon/calendar.png" %}" alt=""> 16 октября</span>
                            <h5>Теперь у нас можно выпить кофе</h5>
                            <a href="./blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg=" {% static "img/blog/blog-2.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src=" {% static "img/icon/calendar.png" %}" alt=""> 21 октября</span>
                            <h5>Лучшие стрижки сезона</h5>
                            <a href="./blog-details">Читать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg=" {% static "img/blog/blog-3.jpg" %}"></div>
                        <div class="blog__item__text">
                            <span><img src=" {% static "img/icon/calendar.png" %}" alt=""> 28 сентября</span>
                            <h5>Как одеться в поход</h5>
                            <a href="./blog-details">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src=" {% static "img/white-logo.png" %}" alt=""></a>
                        </div>
                        <p>Все для покупателя.</p>
                        <a href="#"><img src=" {% static "img/payment.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Покупки</h6>
                        <ul>
                            <li><a href="#">Одежда</a></li>
                            <li><a href="#">Обувь</a></li>
                            <li><a href="#">Аксессуары</a></li>
                            <li><a href="#">Распродажа</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>О нас</h6>
                        <ul>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Методы оплаты</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Политика возврата</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Рассылка</h6>
                        <div class="footer__newslatter">
                            <p>Подпишитесь на рассылку чтобы узнавать об акциях первыми!</p>
                            <form action="#">
                                <input type="text" placeholder="Ваша почта">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>Copyright ©
                            <script>
                            </script>2022 Морозова Василиса
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <!-- Required Javascript -->
    <!-- <script src=" {% static "js/jquery.js" %}"></script> -->
    <script src=" {% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src=" {% static "js/bootstrap.min.js" %}"></script>
    <script src=" {% static "js/jquery.nice-select.min.js" %}"></script>
    <script src=" {% static "js/jquery.nicescroll.min.js" %}"></script>
    <script src=" {% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src=" {% static "js/jquery.countdown.min.js" %}"></script>
    <script src=" {% static "js/jquery.slicknav.js" %}"></script>
    <script src=" {% static "js/mixitup.min.js" %}"></script>
    <script src=" {% static "js/owl.carousel.min.js" %}"></script>
    <script src=" {% static "js/main.js" %}"></script>
</body>

</html>