{% extends 'base.html' %}

<!-- {% block title%}About page{% endblock %} -->

{% block content %}
{% load static %}
    <!-- Contact Section Begin -->
    
    <section class="contact spad">
        <div class="container ">
            Выберите событие, для которого вы ищете образ:
            <!-- <div class="row"> -->
            <form id="form1" class="row" action="../questionaire2" >
                <div class="container_q ">
                    <img class="answ"  src="{% static "img/stylist/event/birthday.jpg" %}" />
                    <div class="middle">
                        <input class="text" type="button" value="Кэмп" name="camp" onClick="testResults(1, null)">
                    </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/event/concert.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Бохо" name="boho" onClick="testResults(2, null)">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/event/piknik.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Кэжуал" name="casual" onClick="testResults(3, null)">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ"  src="{% static "img/stylist/event/party.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Фея" name="fairy" onClick="testResults(4, null)">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/event/theater.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Гламур" name="glamour" onClick="testResults(0, null)">
                  </div>
                </div>
            </form>
            <a href="../questionaire" class="qu-btn">Назад</a>

        </div>
    </section>
    <!-- Contact Section End -->
    {% endblock %}