{% extends 'base.html' %}

<!-- {% block title%}About page{% endblock %} -->

{% block content %}
{% load static %}
    <!-- Contact Section Begin -->
    
    <section class="contact spad">
        <div class="container ">
            Выберите прически:
            <!-- <div class="row"> -->
            <form id="form1" class="row" action="../questionaire2" >
                <div class="container_q ">
                    <img class="answ"  src="{% static "img/stylist/haircut/boho.jpg" %}" />
                    <div class="middle">
                        <input class="text" type="button" value="Кэмп" name="camp" onClick="testResults(1, '../questionaire4')">
                    </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/haircut/camp.jpg" %}"  />
                    <div class="middle">
                    <input class="text" type="button" value="Бохо" name="boho" onClick="testResults(2, '../questionaire4')">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/haircut/casual.jpg" %}"  />
                    <div class="middle">
                    <input class="text" type="button" value="Кэжуал" name="casual" onClick="testResults(3, '../questionaire4')">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ"  src="{% static "img/stylist/haircut/sport.jpg" %}"  />
                    <div class="middle">
                    <input class="text" type="button" value="Фея" name="fairy" onClick="testResults(4, '../questionaire4')">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/haircut/glamour.jpg" %}"  />
                    <div class="middle">
                    <input class="text" type="button" value="Гламур" name="glamour" onClick="testResults(0, '../questionaire4')">
                  </div>
                </div>
            </form>
            <a href="../questionaire" class="qu-btn">Назад</a>
                <!-- <div>
                    <div class="container_q">
                        <img src="img/stylist/haircut/boho.jpg" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                          <div class="text">John Doe</div>
                        </div>
                    </div>

                    <div class="container_q">
                        <img src="img/stylist/haircut/camp.jpg" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                          <div class="text">John Doe</div>
                        </div>
                    </div>
                </div> -->
                    
            <!-- </div> -->
        </div>
    </section>
    <!-- Contact Section End -->
    {% endblock %}