{% extends 'base.html' %}

<!-- {% block title%}About page{% endblock %} -->

{% block content %}
{% load static %}
    <!-- Contact Section Begin -->
    
    <section class="contact spad">
        <div class="container ">
            Выберите образ, который вам больше всего нравится:
            <!-- <div class="row"> -->
            <form id="form1" class="row" action="../questionaire2" >
                
                <div class="container_q ">
                    <img class="answ"  src="{% static "img/stylist/style/camp.jpg" %}" />
                    <div class="middle">
                        <input class="text" type="button" value="Кэмп" name="camp" onClick="testResults(1, '../questionaire2')">
                    </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/style/boho.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Бохо" name="boho" onClick="testResults(2, '../questionaire2')">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/style/casual.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Кэжуал" name="casual" onClick="testResults(3, '../questionaire2')">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ"  src="{% static "img/stylist/style/fairy.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Фея" name="fairy" onClick="testResults(4, '../questionaire2')">
                  </div>
                </div>
                <div class="container_q">
                    <img class="answ" src="{% static "img/stylist/style/glamour.jpg" %}" />
                    <div class="middle">
                    <input class="text" type="button" value="Гламур" name="glamour" onClick="testResults(0, '../questionaire2')">
                  </div>
                </div>
            </form>
            <a href="../questionaire" class="qu-btn">Назад</a>

        </div>
    </section>
    <!-- Contact Section End -->
    {% endblock %}