{% extends 'base.html' %}

<!-- {% block title%}About page{% endblock %} -->

{% block content %}
{% load static %}
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <!-- <span>Information</span> -->
                            <h2>Виртуальный стилист</h2>
                            <p>Подберёт подходящий вам образ по результатам опроса.</p>
                            <img src="{% static "img/other/robot-phone.jpg" %}" alt="robot" class="robo-stylist">
                        </div>
                    </div>
                </div>
                <form id="form">
                    
                    <!-- Details -->
                    <div class="form-control1">
                        <label for="name" id="label-name" >
                            Имя
                        </label>
                        <!-- Input Type Text -->
                        <input type="text"
                            id="name"
                            placeholder="Введите ваше имя" required/>
                    </div>
            
                    <div class="form-control1">
                        <label for="email" id="label-email">
                            E-mail
                        </label>
            
                        <!-- Input Type Email-->
                        <input type="email"
                            id="email"
                            placeholder="Введите вашу электронную почту" required/>
                    </div>
            
                    <div class="form-control1">
                        <label for="age" id="label-age">
                            Возраст
                        </label>
            
                        <!-- Input Type Text -->
                        <input type="text"
                            id="age"
                            placeholder="Введите ваш возраст" required/>
                    </div>
            
                    
            
                    <!-- Multi-line Text Input Control -->
                    <a href="../questionaire1" class="site-btn">
                        Дальше</a>
                    <!-- <a href="../questionaire1" class="qu-btn">Дальше</a> -->
                </form>
                <!-- <div class="col-lg-6 col-md-6">
                    <div class="contact__form"> -->
                        <!-- <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Имя">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Электронная почта">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Сообщение"></textarea>
                                </div>
                            </div>
                            <p>Ваш возраст: </p>
                            <input type="radio" name="age" value="10"> <p>< 18</p>
                            <input type="radio" name="age" value="20">
                            <button type="submit" class="site-btn">Отправить</button>
                        </form> -->
                        <!-- Create Form -->
                    <!-- </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    {% endblock %}