{% extends 'base.html' %}

<!-- {% block title%}About page{% endblock %} -->

{% block content %}
{% load static %}
    <!-- Blog Details Hero Begin -->
    <section class="blog-hero spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="blog__hero__text">
                        <h2>Подводим итоги</h2>
                        <ul>
                            <li>От нашей начальницы</li>
                            <li>20 ноября 2022</li>
                            <li>8 февраля</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="img/blog/details/plot.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <span>Поделиться</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                            </ul>
                        </div>
                        <div class="blog__details__text">
                            <p style="text-indent: 20px" align="justify">Всем привет! Я основательница магазинчика pretty-otter. 
                            В далеком 2019 я даже не представляла, каких масштабов мы сможем достичь. Тогда, четыре года назад, я была еще юной
                            второкурсницей, и ничего не знала о бизнесе. Но теперь, как взрослая и серьезная тетя, смогу поведать вам о том,
                            как мы, команда pretty-otter, делаем этот проект. </p>
                                
                                <br><h3>Люди</h3>
                            <p style="text-indent: 20px" align="justify">Самое главное в любой работе: люди. Когда я 
                            начинала, нас было трое: Я и Маша - смм, поставщик, бухгалтерыб продавцы и т.д. в одном (двух) лице и фотограф Марина.
                            Сейчас нас уже под 30! </p>
                            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                            Теперь среди нас есть: маркетолог, бухгалтер, и, поскольку мы отошли от начальной концепции, даже штатный лектор.
                            Какой же разговор о бизнесе без разговора о деньгах? Тут видны средние зарплаты в месяц по четырем основным профессиям: 
                            продавец, СММ, лектор и бухгалтер.

                        </div>
                        <!-- <div class="blog__details__quote">
                            <i class="fa fa-quote-left"></i>
                            <p>“When designing an advertisement for a particular product many things should be
                                researched like where it should be displayed.”</p>
                            <h6>_ John Smith _</h6>
                        </div> -->
                        <div class="blog__details__text">
                            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
                            <p style="text-indent: 20px" align="justify" >Про лекции и нашу концепцию поговорим позднее. Сначала - про
                            наш основной интсрумент - СММ. Как мне кажется, не менее важно уметь раскрутить ваш продукт. 
                            Конечно, качество важно в долгосрочной перспективе: если телефоны, которые вы, допустим, продаете, разваливаются
                            через месяц пользования, то в следующий раз к вам за ними не придут. Но если вы здорово хайпанете на месяц так, что в 
                            каком-нибудь услованом тиктоке, ваш телефон будет у каждого блогера, есть шанс иметь короткий, но продуктивный
                            момент сверхприбыли. Я, естественно, хочу иметь живой бизнес на далекой перспективе, но какими бы классными
                            не были ваши мастерклассы или, скажем, варежки, если вы будете стесняться говорить о них всем и вся, о них никто не узнает.
                            Посмотрите на график нашей прибыли и посещяемости, когда мы наняли СММщика!</p>
                            <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
                            <p style="text-indent: 20px" align="justify"> Теперь про лекции. Сначала мы планировали просто продать давно неношенные
                            шмотки и заработать на пиво в любимом баре. Но потом темы моды, экологии, осознанного потребления и бизнеса так 
                            меня заинтересовали, что я не смогла от них уйти. Я решила создать не просто секонд-хенд, но и образовательное
                            пространство, где можно послушать об этих темах интересных лекторов, а также выступить самому. Также
                            у нас есть дискусионный клуб, а и просто коворкинг, бесплатный для покупателей.</p>
                            <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
                            <p style="text-indent: 20px" align="justify">Также наш телеграм теперь можно 
                            считать СМИ: недавно стукнуло 10к подписчиков. Там интересные статьи по тем же темам,
                            а также анонсы мастерклассов, скидок и других активностей.</p>
                            <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
                            <p style="text-indent: 20px" align="justify">
                            Вернемся к шмоткам. Хоть мы и секонд-хенд, аудитория у нас довольно молодая.</p>
                            <canvas id="myChart5" style="width:100%;max-width:600px"></canvas>
                            Что у нас чаще покупают? График
                            <canvas id="myChart6" style="width:100%;max-width:600px"></canvas>
                            Круговая диаграмма
                            <canvas id="myChart7" style="width:100%;max-width:600px"></canvas>
                            Оценка магазина в картах
                            <canvas id="myChart8" style="width:100%;max-width:600px"></canvas>
                            Заказы в другие страны
                            <canvas id="myChart9" style="width:100%;max-width:600px"></canvas>

                        </div>
                        <div class="blog__details__option">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__author">
                                        <div class="blog__details__author__pic">
                                            <img src="img/blog/details/blog-author.jpg" alt="">
                                        </div>
                                        <div class="blog__details__author__text">
                                            <h5>Вася Морозова</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__tags">
                                        <a href="#">#Поход</a>
                                        <a href="#">#Лето</a>
                                        <a href="#">#2022</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="" class="blog__details__btns__item">
                                        <p><span class="arrow_left"></span> Предыдущая статья</p>
                                        <h5>Теперь у нас можно выпить кофе</h5>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="" class="blog__details__btns__item blog__details__btns__item--next">
                                        <p>Следущая статья <span class="arrow_right"></span></p>
                                        <h5>Мастер-класс тай-дай</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__comment">
                            <h4>Прокомментировать</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Имя">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Почта">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" placeholder="Телефон">
                                    </div>
                                    <div class="col-lg-12 text-center">
                                        <textarea placeholder="Комментарий"></textarea>
                                        <button type="submit" class="site-btn">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
    {% endblock %}